body {
  background: whitesmoke;
  color: #17141d;
}

.row-single {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

p {
  flex-wrap: wrap;
  text-align: justify;
  text-justify: inter-word;
}

.description {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  border-bottom: 2px solid #17141d;
  text-transform: uppercase;
}

@media screen and (max-device-width: 900px) {
  .description {
    font-size: 5vw;
  }
}
